@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

:root {
    --index: calc(1vw + 1vh);
    --text: #ffffff;
    --transition: transform .75s cubic-bezier(.075, .5, 0, 1);
}

body {
    background-color: #8b6341;
    font-family: Poppins, raleway_f, sans-serif;
    line-height: 1.55;
    height: 100vh;
    overflow-x: hidden;
}

/* HEADER HERO */
.header-hero {
    background-image: url(../assets/img/historis-flip.jpeg);
    background-blend-mode: lighten;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center -700px;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    color: var(--text);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.hero-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, .3);
}

.hero__socrates {
    position: absolute;
    max-height: calc(var(--index) * 40);
    right: calc(var(--index) * -10);
    bottom: calc(var(--index) * -9);
    opacity: .95;
    z-index: 3;
}

.hero__moon {
    position: absolute;
    max-height: calc(var(--index) * 5.5);
    left: calc(var(--index) * 2);
    top: calc(var(--index) * 2.7);
    opacity: .2;
}

.hero__content {
    position: relative;
    top: 45%;
    z-index: 2;
    text-align: center;
}

.hero__content h1 {
    font-size: calc(var(--index) * 3);
    font-weight: 700;
}

.hero__content p {
    margin-top: calc(var(--index) * -1.3);
    font-size: calc(var(--index) * 1.7);
}

/* ARTICLE */
.main-article {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    color: var(--text);
}

article .main-article__content {
    width: 70%;
    margin: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #dee2e639;
    box-shadow: -5px -5px 0 5px rgba(157, 158, 160, 0.196) inset;
    border-radius: calc(var(--index) * 1.5);
    padding: calc(var(--index) * 3) 0;
}

.article__title {
    font-size: calc(var(--index) * 2);
    letter-spacing: calc(var(--index) / 4.5);
    line-height: calc(var(--index) * 3.3);
    will-change: transform;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}

.main-article__content p {
    text-align: justify;
    max-width: 85%;
    line-height: calc(var(--index) * 1.2);
    margin: 0 auto;
}


/* GALLERY */
.carousel {
    margin-top: 300px !important;

}

.carousel-track {
    position: absolute;
    left: -50;
    top: 0%;
    transform: translate(0, -50%);
    display: flex;
    gap: 2vmin;
    padding: 2vmin;
    cursor: grab;
}

.carousel-track.grabbing {
    cursor: grabbing;
}

.carousel-image {
    width: 40vmin;
    height: 60vmin;
    object-fit: cover;
    object-position: center;
}

.loading-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1.3); /* Setel warna latar belakang dengan opasitas */
    z-index: 1000;
}

.loading-overlay p {
    margin-bottom: 70px;
    font-size: 18px;
    font-weight: bold;
}

/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }
  
  /* :not(:required) hides these rules from IE9 and below */
  .loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  
  .loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  }
  
  /* Animation */
  
  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .parallax-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.parallax-image {
    margin-top: 200px !important;
    width: 90%;
    height: 80%;
    background-image: url(../assets/img/kuda.png); 
    transform: translateY(0);
    transition: transform 0.1s ease-out;
}
  
